<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.pxl.minecraftguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Internet toegang permissie -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
        	android:name="be.pxl.minecraftguide.providers.RecipeProvider"
        	android:authorities="be.pxl.minecraftguide.providers.recipeprovider" />
        <provider
        	android:name="be.pxl.minecraftguide.providers.RecipeCategoryProvider"
        	android:authorities="be.pxl.minecraftguide.providers.recipecategoryprovider" />
        <provider
        	android:name="be.pxl.minecraftguide.providers.RecipeProvider"
        	android:authorities="be.pxl.minecraftguide.providers.recipeprovider" />
        <provider
        	android:name="be.pxl.minecraftguide.providers.VideoProvider"
        	android:authorities="be.pxl.minecraftguide.providers.videoprovider" />
        <activity
            android:name="be.pxl.minecraftguide.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Crafting" android:label="@string/crafting">
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden"
                android:value=".MainActivity" />
        </activity>
        <activity android:name="Videos" android:label="@string/videos">
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden"
                android:value=".MainActivity" />
        </activity>
        <activity android:name="Commands" android:label="@string/servercommands">
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden"
                android:value=".MainActivity" />
        </activity>
        <activity android:name="Chat" android:label="@string/chat">
        	<meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|keyboardHidden"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="be.pxl.minecraftguide.Recipes"
            android:label="@string/recipes" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.pxl.minecraftguide.RecipeDetails"
            android:label="@string/recipes" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<service android:name="BackgroundMusicPlayer"
		    	 android:label="Background music player" >
		</service>
    </application>

</manifest>
